<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/Control_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("""
Question 1️⃣
ask someone for their CTC (in LPA)
calculate their income-tax
• 10% for <= 10 lpa
• 20% for <= 15 lpa eg if your salary is 12 LPA== 10*(10/100) + 2*(20/100)
• 30% for > 15lpa eg if your salary is 18 LPA== 10*(10/100) + 5*(20/100) + 3*(30/100)
""")

In [2]:
CTC = int(input())
if CTC <= 10:
  print (CTC * 10/100)
elif CTC <= 15:
  print (10*10/100 + (CTC-10)*20/100)
elif CTC > 15:
  print (10*10/100 + 5*20/100 + (CTC-15) * 30/100)

14
1.8

In [ ]:
print("""
Question 2️⃣
ask someone for their city that they are planning to visit
print what mornument they should visit
if you do not know that city, say I don't know

• Delhi -> Red fort
• Agra -> Taj Mahal
• Gurgaon -> Cyber hub
• Mumbai -> Gateway
""")

In [7]:
# Here in the output it is observed with if and print sting values mentioned in the quotes
city = input()
if city == 'Delhi':
  print ('Red fort')
elif city == 'Agra':
  print ('Taj Mahal')
elif city == 'Gurgaon':
  print ('Cyber hub')
elif city == 'Mumbai':
  print ('Gateway')
else:
  print ("I don't know")

Ambala
I don't know

In [ ]:
print("""
Question 3️⃣
ask someone for a integer
tell if the integer is even OR not
""")

In [15]:
num = int(input())
if num%2 == 0:
  print ('Even')
else:
  print ('Odd')

8
Even

In [ ]:
print("""
Generate electricity bill using the following rate card.
Take units consumed as input -
If < 100 units -> Free
If >= 100 units and < 200 units -> Rs 2 per unit
If >= 200 units -> Rs 5 per unit
""")

In [16]:
Units_consumed = int(input())
if Units_consumed < 100:
  print (0)
elif Units_consumed < 200:
  print (0 + (Units_consumed -100) * 2)
elif Units_consumed >= 200:
  print (100*0+100*2 + (Units_consumed -100) * 5)

250
950

In [ ]:
print("""
Take an amount as input from the user
You only have 200 and 500 Rs Notes in the ATM. For one transaction,
you can only dispatch notes of a single type.
Given the amount -
- "Dispatching Cash!" if it can be dispatched.
- "Denomination not available!" if it can not be
""")

In [20]:
Amount = int(input())
if Amount%200 == 0 or Amount%500 == 0:
  print ('Dispatching Cash!')
else:
  print ('Denomination not available!')

1500
Dispatching Cash!

In [ ]:
print("""
Build a meter system for an auto. Take into two inputs.
Kilometers Travelled and Stall Time (in minutes). Rate List -
First 10 kms - Rs 10 per Km

Next 40 kms - Rs 9 per Km

Next 100 kms - Rs 8 per Km

Any leftover km count - Rs. 6 per Km

Rs 5 extra for every minute of Stall Time.
""")

In [24]:
km = int(input())
if km == 10:
  print (10*10)
elif km ==50:
  print (10*10 + 40*9)
elif km ==150:
  print (10*10 + 40*9+ 100*8)
elif km >=150:
  print (10*10 + 40*9+ 100*8 + (km-(10+40+100))*6)

200
1560

In [26]:
#1 get all the inputs
kms = int(input())
stall = int(input())
#2 calculate fare based on kms
if kms<=10:
    kms_fare = kms*10
elif kms<=10+40:
    kms_fare = 10*10   +   (kms-10)*9
elif kms<=10+40+100:
    kms_fare = 10*10  +  40*9  + (kms-50)*8
else:
    kms_fare = 10*10  +  40*9   + (100)*8 +   (kms-10-40-100)*6
#3 calculate fare based on wait time
wait_fare = stall*5
#4 add all the fares
fare = kms_fare+wait_fare
print(fare)

10
10
150

In [ ]:
print("""
Feedback System - Take string feedback from a user.
Now,
if any the feedback is provided,
print("Thank you for the feedback").


If feedback is "Super", "Great", "Fantastic", "Awesome",
print("Thank you for the kind words!")
""")

In [29]:
Feedback = input()
if Feedback in ('Super', 'Great', 'Fantastic', 'Awesome'):
  print ('Thank you for the kind words!')
else:
  print ('Thank you for the feedback')

Fantastic
Thank you for the kind words!

In [ ]:
print("""
Take in three inputs from a user which are marks in english, maths and science.
Assign streams according to the following criteria.
if science > 90 or marks in all(individually) are greater than 75 -> Science
if marks in all are greater than 60 and less than 75 -> Commerce
if marks in any are less than 60 -> Humanities""")

In [32]:
English = int(input())
Maths = int(input())
Science = int(input())
Total_marks = (English + Maths + Science)
if Science > 90 or (English >75, Maths>75, Science>75):
  print ('Science')
elif (English >60, Maths>60, Science>60) and (English <75, Maths<75, Science<75):
  print ('Commerce')
elif (English <60, Maths<60, Science<60):
  print ('Humanities')

50
50
50
Science