<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Question 1 - 
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.
'''
'''
Input is 4
Output will be 1 2 3 4 
'''

In [ ]:
N = int(input())
for i in range (1,N+1):
  print (i, end =" ")

4
1 2 3 4

In [ ]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
ONLY USE for LOOP AND range
'''

In [ ]:
N = int(input())
total = 0
for i in range (1,N+1):
  total = i + total
print (total)

5
15

In [ ]:
'''
Question 3 - 
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''
'''
1 > 1
2 > 2
3 > 6
4 > 24
'''

In [ ]:
N = int(input())
factorial =1
for i in range (1,N+1):
  factorial = i * factorial
print (i, factorial)

5
5 120

In [ ]:
'''
Question 4 - 
Take N as input from the user.
Calculate the square of all even numbers between 1 and N. Both included.
'''

In [ ]:
N = int(input())
square = 0
for i in range (1,N+1):
  square = i*i + 0
  if i%2 ==0:
    print (i,square)

5
2 4
4 16

In [ ]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

In [ ]:
N = int(input())
Product = 1
for i in range (1,N+1):
    if i%2 ==0:
      Product = i * Product
print (Product)

6
48

In [ ]:
# Second method where in we have directly mentioned (2,N+2) in the range
N = int(input())
Product = 1
for i in range (2,N+2):
    if i%2 ==0:
      Product = i * Product
print (Product)

6
48

In [ ]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.
'''

In [ ]:
# Here for start we have mentioned number: 5 and end =10
# As we need to calculate product of even number btw 5 to 10 and numbers are 6,8,10. So, output is 480
Start = int(input())
End = int(input())
Product = 1
for i in range (Start,End+1):
  if (i%2 == 0):
    Product = i * Product
print (Product)

5
10
480

In [ ]:
# Efficient Solution for above question
Start = int(input())
End = int(input())
if Start%2 == 0:
    new_start = Start
else:
    new_start = Start+1
Product = 1
for i in range(new_start,End+1,2):
    Product = Product*i
print(Product)

5
10
480

In [ ]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

In [ ]:
N = int(input())
for i in range (N,0,-1):
  print (i, end =" ")

5
5 4 3 2 1

In [ ]:
'''
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
>>   Without using a negative step/jump!
N > 1 -> Given
'''

In [ ]:
N = int(input())
for i in range (-N,0):
  print (-i, end =" ")

5
5 4 3 2 1

In [ ]:
# we can iterate string values
name = 'Abhinav Rastogi'
for i in name:
    print(i)

A
b
h
i
n
a
v

R
a
s
t
o
g
i

In [ ]:
# provides length of the name including space
print(len('Abhinav Rastogi'))

15

In [ ]:
N = int(input())
for i in range(1, N+1):
    print (i)

5
1
2
3
4
5

In [ ]:
for i in range(-6, -10, -1):
     print(i, end =" ")

-6 -7 -8 -9

In [ ]:
A = int(input())
total=0
for i in range(1, A+1):
    if i%2!=0:
        total = total + i
print (total)

2
1

In [ ]:
N = int (input())
for i in range (1,N):
    print (i*"*", end =" ")

5
* ** *** ****

In [ ]:
N = int (input())
print (N*"*", end =" ")

5
*****

In [ ]:
N= int(input())
total = 0
for i in range (1,N+1):
    total = total + i
print (total)

10
55

In [ ]:
x = 2
for i in range(0, 4):
    if x%2:
       x = x*2
    else:
       x = x+1

In [ ]:
x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

0

In [ ]:
print(range(2))

range(0, 2)