In [ ]:
# Here defining function
def message():
  print ("Hello World")

In [ ]:
# Here executing function
message()

Hello World

In [ ]:
# Write a program to find addition of two number using function?
def add():
  a = int(input())
  b = int(input())
  c= a+b
  print(c)

In [ ]:
add()

20
30
50

In [ ]:
# Arguments / Parameters: This is the value which is supplied to the function to operate on
# def add (Arguments):
def add (a,b):
  c=a+b
  print (c)

In [ ]:
# here executing def function
a = int(input())
b = int(input())
add(a,b)

30
20
50

In [ ]:
def add (a,b,c):
  z=a+b+c
  print(z)

In [ ]:
a = int(input())
b = int(input())
c = int(input())
add(a,b,c)

20
30
20
70

In [ ]:
# Default Argument : where w initially set the value of variable
# Note: Usually here we set value of last variable
def add(a,b,c=8):
  z=a+b+c
  print(z)

In [ ]:
a = int(input())
b = int(input())
add(a,b,c=8)

10
2
20

In [ ]:
# No argument no return
def add():
  x = int(input())
  y = int(input())
  m = x+y
  print(m)

In [ ]:
add()

15
20
35

In [ ]:
# With argument no return
def add(k,i): # here (K, i) is the argument
  l = k+i
  print(l)

In [ ]:
k = int(input())
i = int(input())
add(k,i)

45
45
90

In [ ]:
# No argument with return
def add():
  x = int(input())
  y = int(input())
  m = x+y
  return m

In [ ]:
b=add()
print (b)

55
55
110

In [ ]:
def celsius_farhen(Celsius):
    ans = 0
    Fahrenheit = ((9/5)*Celsius) + 32
    ans=ans+Fahrenheit
    return round(ans,2)

In [ ]:
celsius_farhen(Celsius)

33.8

In [3]:
def road_tax(price):
    tax = None
    if price <= 50000:
        print(5/100*price)
    elif price <=75000:
        print((price-50000)*5/100 + price*10/100)
    elif price <=100000:
        print((price-75000)*10/100+price*15/100)
    else:
        print(price*20/100)

In [4]:
price = int(input())
road_tax (price)

55000
5750.0

In [ ]:
n = int(input())
if price <= 50000:
  print(5/100*price)
elif price <=75000:
  print((price-50000)*5/100 + price*10/100)
elif price <=100000:
  print((price-75000)*10/100+price*15/100)
else:
  print(price*20/100)

50000
17500.0

In [ ]:
def (num):
  return num + 55
if(5)
print(num)

SyntaxError: ignored

In [6]:
def road_tax(price):
    tax = None
    if price <= 50000:
        tax=(5/100*price)
    elif price <=75000:
        tax=((price-50000)*5/100 + price*10/100)
    elif price <=100000:
        tax=((price-75000)*10/100+price*15/100)
    else:
        tax=(price*20/100)
    return tax

In [33]:
price = int(input())
road_tax(price)

55000

5750.0

In [25]:
def chec(a,b):
  c=a+b
  return c

In [12]:
chec(3,4)

7

In [26]:
d=chec(3,4)
print(d)

7

In [27]:
def simple_int(time,pa,ir):
    ''' time, pa, ir represents the time in number of days, principal amount and rate of interest
        Return the simple interest'''
    ans = 0
    total_amount = pa*(1 + (ir*(time/365)/100))
    ans = ans + total_amount
    return round(ans,2)

In [31]:
time = int(input())
pa = float(input())
ir = float(input())
simple_int(time,pa,ir)

789
10000.0
1.3

10281.01

In [34]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

68.0

In [43]:
n=int(input())
for i in range(n):
  if i==0: 
   print (n* "*")
  elif i>=1 and i<n-1:
    print("*"+(n-i-2)*" "+"*")
  elif i==n-1:
    print("*")

8
********
*     *
*    *
*   *
*  *
* *
**
*

In [58]:
n=int(input())
sum=0
for i in range(1,n):
    if n%i == 0:
      sum=sum+i
if sum == n:
  print ('1')
else:
  print ('0')

6
1

In [57]:
N = int(input())
sum = 0
for i in range (1,N):
  if N%i == 0:
    sum = sum+i
if sum == N:
  print ('YES')
else:
  print ('NO')

6
YES

In [59]:
x = 55
def hi():
  return x
x +=10
print(hi())

65