<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/Input_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('Hello World')

Hello World

In [ ]:
print ('Abhinav' + 'Rastogi' + 'Age:30' + 'DoB: 11/11/1990')

AbhinavRastogiAge:30DoB: 11/11/1990

In [ ]:
print (1500 + 1500)

3000

In [ ]:
print (2500.25 + 2500.25)

5000.5

In [ ]:
# Expression and variables

In [ ]:
x = 15
print (x)

15

In [ ]:
x=15
y=20
z=35
print (x+y+z)

70

In [ ]:
Name= 'Abhinav'
Sex = 'Male'
Education = 'MBA'
City = 'Ambala'
Income = 1200000
print (Name,Sex,Education,City,Income)
print (type(Name),type(Sex),type(Education),type(City),type(Income))

Abhinav Male MBA Ambala 1200000
<class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'int'>

In [ ]:
print ('Abhinav',30,'M','Ambala', sep="\n")

Abhinav
30
M
Ambala

In [ ]:
print ('Abhinav',30,'M','Ambala', sep="\n", end="<>")

Abhinav
30
M
Ambala<>

In [ ]:
input()

My name is Abhinav

'My name is Abhinav'

In [ ]:
name = input('Tell me your name?')
print ('The user name is', name)

Tell me your name?Abhinav
The user name is Abhinav

In [ ]:
Age = input('Tell me your age')
print ('The user age is', Age)

Tell me your age30
The user age is 30

In [ ]:
nextage = int(Age) + 1
print(nextage)

31

In [ ]:
weight = input('What is your weight in Kg:')
weight = int(weight)
print('your weight in grams is',weight*1000)

What is your weight in Kg:80
your weight in grams is 80000

In [ ]:
weight = int(input('What is your weight in Kg:'))
print('your weight in grams is',weight*1000)

What is your weight in Kg:80
your weight in grams is 80000

In [ ]:
a = int(input('Please mention number' ))
b = int(input('Please mention number' ))
print ('please find average of two mentioned numbers',(a+b)/2)

Please mention number5
Please mention number5
please find average of two mentioned numbers 5.0

In [ ]:
n1=input()
n2=input()
print (n1 + " says Hi to " + n2)

A
B
A says Hi to B

In [ ]:
A = input()
# Here in the input we have mentioned name 'Ram'
print ('Hello'+ " " +A)
# Here in the print function we have added 'Hello' with 'Ram'. In final output we got 'Hello Ram'

Ram
Hello Ram

In [ ]:
A= input()
# Here in the input we have mentioned value '16'
B= input()
# Here in the input we have mentioned value '2'
print (A+B)
# In the final output we have concatinated value of both variable A &

16
2
162

In [ ]:
N = int(input())
# Here we have mentioned int before input which signifies whatever value we have entered in input it gives integer value
M = int(input())
print(N-M)

116
12
104

In [ ]:
print ('A','B','C','D','E', sep='\n')
# \n seperate the content into different lines

A
B
C
D
E

In [ ]:
A=input()
B=input()
print(A + " says Hi to " + B)

Ram
Shyam
Ram says Hi to Shyam