<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/List_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://www.youtube.com/watch?v=eec1vfKe35U
# First Method
a = ['Aman','Abhinav',1,57,67,95.5]
for i in a: # here i denoting value of elements present in the list "a"
  print (i)

Aman
Abhinav
1
57
67
95.5

In [ ]:
# Second Method
a = ['Aman','Abhinav',1,57,67,95.5]
for i in range (len(a)): # here len(a) is 6
  print (a[i]) # this is fetching the value of i in list a

Aman
Abhinav
1
57
67
95.5

In [ ]:
# Len Function
a = ['Aman','Abhinav',1,57,67,95.5]
print (len(a)) # showing number of elements in range a

6

In [ ]:
# Max Function
a = [15,25,30,40,45,60]
print (max(a))

60

In [ ]:
# Max Function
a = [15,25,30,40,45,60]
b = max(a)
print (b)

60

In [ ]:
# Min Function
a = [15,25,30,40,45,60]
print (min(a))

15

In [ ]:
a = [15,25,30,40,45,60]
b = min(a)
print (b)

15

In [ ]:
# Append: First Method
a=[] # this is the empty string
for i in range (5):
  x = int(input()) # here x is taking input
  a.append(x) # value of x getting added in empty string "a"
print (a)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
# Append: Second Method
a=[] # this is the empty string
for i in range (5):
  x = int(input()) # here x is taking input
  a.append(x)
for i in range (5):
  print (a[i])

1
2
3
4
5
1
2
3
4
5

In [ ]:
# Append: Third Method
a=[] # this is the empty string
for i in range (5):
  x = int(input()) # here x is taking input
  a.append(x)
for i in a:
  print (i)

1
2
3
4
5
1
2
3
4
5

In [ ]:
''' Count Function : Works on string values '''
a = ['Abhinav','Aman','Manish','Manoj','Raju']
x=a.count('Aman')
print (x)

1

In [ ]:
''' Index Function: Provides index number of values present in the list '''
# It gives the first index number of same value. Here in the below example: " 15" present two times but it gives first index value which is "2" 
a = ['10','12','15','20','15']
x=a.index('15')
print (x)

2

In [ ]:
''' Insert index and Object: Syntax: list.insert(index,object) '''
a = [5,10,15,20]
a.insert(2,50) # here 2 reflect the index value and 50 reflects the value which we are adding for "2" index 
# and value which is present at the "2" index it will automatically move it on "3" index
print (a)

[5, 10, 50, 15, 20]

In [ ]:
''' Remove Function: Delete object/ value from the list. Delete the first occurrence of the list
Syntax: list.remove(object) '''
a = [5,10,15,20]
a.remove(10) # removed value: 10 from the list
print(a)

[5, 15, 20]

In [ ]:
''' Reverse Function: It will reverse the elements present in the list. Syntax: list.reversal() '''
a = [5,10,15,20]
a.reverse()
print(a)

[20, 15, 10, 5]

In [ ]:
''' Reverse Function: It will reverse the elements present in the list. Syntax: list.reversal() '''
a=[]
for i in range(5):
  x= int(input())
  a.append(x)
a.reverse()
print(a)

1
2
3
4
5
[5, 4, 3, 2, 1]

In [ ]:
''' Sort Function: Sort the elements in ascending or descending order. By default sorting is done in ascending order '''
a = [25,30,50,20,70,80]
a.sort(reverse=False) # if we mention (reverse=False) then it will transform text into ascending order
print(a)

[20, 25, 30, 50, 70, 80]

In [ ]:
''' Sort Function: Sort the elements in ascending or descending order. By default sorting is done in ascending order '''
a = [25,30,50,20,70,80]
a.sort(reverse=True) # if we mention (reverse=True) then it will transform text into descending order
print(a)

[80, 70, 50, 30, 25, 20]

In [ ]:
''' Pop Function: This function is used to delete last element from the list , Syntax: list.pop() '''
a = [25,30,50,20,70,80]
a.pop()
print (a)

[25, 30, 50, 20, 70]

In [ ]:
'''List Slicing'''
a = ['Abhinav', 32, 'Deepti', 36, 'Mum', 60, 'Papa', 60]
print (a[0:]) # print all values present in the string
print (a[:]) # print all values present in the string
print (a[0:3]) # print all values except value which is present on index "3"
print (a[:3]) # print all values except value which is present on index "3"
print (a[:7]) # print all values except value which is present on index "7"

['Abhinav', 32, 'Deepti', 36, 'Mum', 60, 'Papa', 60]
['Abhinav', 32, 'Deepti', 36, 'Mum', 60, 'Papa', 60]
['Abhinav', 32, 'Deepti']
['Abhinav', 32, 'Deepti']
['Abhinav', 32, 'Deepti', 36, 'Mum', 60, 'Papa']

In [ ]:
''' Assignment Question '''
players = ['Jadeja','Rahul','Rohit']
players[-1:] = ['Dhoni', 'Virat']
players[len(players):] = ['Dhoni', 'Virat']
print (players)

['Jadeja', 'Rahul', 'Dhoni', 'Virat']

In [ ]:
players = ['Jadeja','Rahul','Rohit']
players[len(players):] = ['Dhoni', 'Virat']
print (players)

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [ ]:
players = ['Jadeja','Rahul','Rohit']
players+=['Dhoni', 'Virat']
print (players)

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [ ]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list[7:19])

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [ ]:
list_1 = ['Python' , 24,'Black', False, -8, 'Data']
list_2 = [42, 7,'Summer']
# check the length of list_2 >>>> a-4
print (len(list_2))
# concatenate list_1 and list_2 >>>> b-1
list_1 + list_2
# check the membership of '24' in list_1
# repeat the list four times
print (list_2 * 4)

3
[42, 7, 'Summer', 42, 7, 'Summer', 42, 7, 'Summer', 42, 7, 'Summer']

In [7]:
# Sum the Array
input_list = [ 1, 2, 3, 4, 5]
total = 0
for i in input_list:
  total = total + i
print (total)

15

In [11]:
# Sum the Array - Second method to find sum
input_list = [ 1, 2, 3, 4, 5]
total = 0
for i in range (len(input_list)):
  total = total + input_list[i]
print (total)

15

In [5]:
# Difference of even and odd
A = [56, 63, 87, 24, 32, 13, 15, 19, 44, 52]
diff = 0
odd = 0
for i in A:
  if i%2==0:
    diff = diff + i
    
    print ("even_sum",diff)
  else:
    odd = odd + i
    print ("odd_sum",odd)
print (diff-odd)

even_sum 56
odd_sum 63
odd_sum 150
even_sum 80
even_sum 112
odd_sum 163
odd_sum 178
odd_sum 197
even_sum 156
even_sum 208
11

In [6]:
#  Min - Max Difference
A = [4, 1, 9, 10, 3]
a=max(A)
b=min(A)


print (a-b)

9

In [ ]:
# inverse the array
A = [2, 0, 1]
B=[]
for i in range (len(A)):
  B.append()
  print (B)