<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/List_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# https://www.youtube.com/watch?v=eec1vfKe35U
# First Method
a = ['Aman','Abhinav',1,57,67,95.5]
for i in a: # here i denoting value of elements present in the list "a"
  print (i)

Aman
Abhinav
1
57
67
95.5

In [3]:
# Second Method
a = ['Aman','Abhinav',1,57,67,95.5]
for i in range (len(a)): # here len(a) is 6
  print (a[i]) # this is fetching the value of i in list a

Aman
Abhinav
1
57
67
95.5

In [4]:
# Len Function
a = ['Aman','Abhinav',1,57,67,95.5]
print (len(a)) # showing number of elements in range a

6

In [8]:
# Max Function
a = [15,25,30,40,45,60]
print (max(a))

60

In [9]:
# Max Function
a = [15,25,30,40,45,60]
b = max(a)
print (b)

60

In [10]:
# Min Function
a = [15,25,30,40,45,60]
print (min(a))

15

In [11]:
a = [15,25,30,40,45,60]
b = min(a)
print (b)

15

In [13]:
# Append: First Method
a=[] # this is the empty string
for i in range (5):
  x = int(input()) # here x is taking input
  a.append(x) # value of x getting added in empty string "a"
print (a)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [18]:
# Append: Second Method
a=[] # this is the empty string
for i in range (5):
  x = int(input()) # here x is taking input
  a.append(x)
for i in range (5):
  print (a[i])

1
2
3
4
5
1
2
3
4
5

In [19]:
# Append: Third Method
a=[] # this is the empty string
for i in range (5):
  x = int(input()) # here x is taking input
  a.append(x)
for i in a:
  print (i)

1
2
3
4
5
1
2
3
4
5

In [27]:
''' Count Function : Works on string values '''
a = ['Abhinav','Aman','Manish','Manoj','Raju']
x=a.count('Aman')
print (x)

1

In [25]:
''' Index Function: Provides index number of values present in the list '''
# It gives the first index number of same value. Here in the below example: " 15" present two times but it gives first index value which is "2" 
a = ['10','12','15','20','15']
x=a.index('15')
print (x)

2

In [26]:
''' Insert index and Object: Syntax: list.insert(index,object) '''
a = [5,10,15,20]
a.insert(2,50) # here 2 reflect the index value and 50 reflects the value which we are adding for "2" index 
# and value which is present at the "2" index it will automatically move it on "3" index
print (a)

[5, 10, 50, 15, 20]

In [29]:
''' Remove Function: Delete object/ value from the list. Delete the first occurrence of the list
Syntax: list.remove(object) '''
a = [5,10,15,20]
a.remove(10) # removed value: 10 from the list
print(a)

[5, 15, 20]

In [31]:
''' Reverse Function: It will reverse the elements present in the list. Syntax: list.reversal() '''
a = [5,10,15,20]
a.reverse()
print(a)

[20, 15, 10, 5]

In [32]:
''' Reverse Function: It will reverse the elements present in the list. Syntax: list.reversal() '''
a=[]
for i in range(5):
  x= int(input())
  a.append(x)
a.reverse()
print(a)

1
2
3
4
5
[5, 4, 3, 2, 1]

In [42]:
''' Sort Function: Sort the elements in ascending or descending order. By default sorting is done in ascending order '''
a = [25,30,50,20,70,80]
a.sort(reverse=False) # if we mention (reverse=False) then it will transform text into ascending order
print(a)

[20, 25, 30, 50, 70, 80]

In [43]:
''' Sort Function: Sort the elements in ascending or descending order. By default sorting is done in ascending order '''
a = [25,30,50,20,70,80]
a.sort(reverse=True) # if we mention (reverse=True) then it will transform text into descending order
print(a)

[80, 70, 50, 30, 25, 20]

In [44]:
''' Pop Function: This function is used to delete last element from the list , Syntax: list.pop() '''
a = [25,30,50,20,70,80]
a.pop()
print (a)

[25, 30, 50, 20, 70]