<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/Operators_Lecture3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Operators (+ plus, - minus, * multiply)
# Integer Values
print (5-2, 5+2, 5*2)
# Here any operation performs on integer value gives result in form of integer
print (5/2)
# Here in division only it gives output in float
# Integer and Float values
print (5-2.0, 5+2.0, 5*2.0)
# Any operation performed on integer and float values gives result in float
# Float Values
print (5.0-2.0, 5.0+2.0, 5.0*2.0)
# Any operation performed on float values gives result in float

3 7 10
2.5
3.0 7.0 10.0
3.0 7.0 10.0

In [ ]:
# Operators (x**)
print (5**3)  # Here "3" represent cube
print (5**2)  # Here "2" represent square
print(25**(1/2)) # 1/2 represent square root
print(25**0.5) # another form of square root

125
25
5.0
5.0

In [ ]:
# Florred Division: It gives the largest integer equal or smaller than the value
print (5//2)
# Use Case
# abhinav >> 200 candies >> distribute to 79 people
print(200//79) ## // >> florred division

2
2

In [ ]:
## precedence of operators
# ()
#  **          # Exponential
# *  /   // %  # Multiplication & Division
# + -          # Addition & Subtraction
# Use case Question: (10-4*2+5-6//2)
10  - 4 * 2 + 5 - 6 // 2     # * and //  have the same rank. So, calculation works from the left which means multiplication is done first
# 10-8+5-6//2                # // has the highest rank. So, in this step division take place
# 10-8+5-3                   # + and - have the same rank. So, calculation works from the left which means here subtraction is done first
# 2+5-3                      # + and - have the same rank. So, calculation works from the left which means addition is done first
# 7-3
# 4

In [ ]:
## % modulus >> Gives remainder
print(75%4)

3

In [ ]:
# typecasting: method of changing datatype
print (int(10.0))

10

In [ ]:
print (float(10))

10.0

In [ ]:
print (str(10))

10

In [ ]:
# typecasting to boolean
print (True, False)
# Boolean with any numbers and string values gives True result except "0" and "null" values which gives False result

True False

In [ ]:
print (bool(1))

True

In [ ]:
print (bool(-1))

True

In [ ]:
print (bool(0))

False

In [ ]:
print (bool())

False

In [ ]:
print (bool('Abhinav'))

True

In [ ]:
age = 26
print (age>20)

True

In [ ]:
# Lexical comparison
print ('goa'> 'delhi')
print (ord ("g"), ord ("d"))
print (len('Abhinav') > len('Amit'))

True
103 100
True

In [ ]:
Session = 50
print (Session)
Session = Session + 50
print (Session)

50
100

In [ ]:
Age = 25
print (Age)
Age += 25
print (Age)  # age gets added to 50
Age -=5
print (Age) # age subtracted by 5 and output become 45
Age *=2
print (Age) # age multiplied by 2 and output become 90
Age /=3
print (int(Age)) # age devided by 3 and output become 30
Age //=3
print (Age)  # age devided by 3 and output become 10

25
50
45
90
30
10.0

In [ ]:
jee_mains = 219
jee_adv = 110
board_score_12th = 89
print (jee_mains>200 and jee_adv>120 and board_score_12th>85)
print (jee_mains>200 and jee_adv>100 and board_score_12th>85)

False
True

In [ ]:
Dish = input ('What dish you like most')
print ('I like to eat',Dish)

What dish you like mostMughlai
I like to eat Mughlai

In [ ]:
A = int(input('Enter first_number'))
B = int(input('Enter second number'))
print (A+B)

Enter first_number10
Enter second number20
30