<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/Pyramid_Printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' First Question
# Take an integer N as input, print the corresponding stair pattern for N.
# For example if N = 4 then stair pattern will be like:
*
**
***
**** '''

In [6]:
# Solving it through nested "while loop"
N= int(input())
i=0
while i<N:
  j=0
  while j<=i:
    print("*", end="")
    j=j+1
  print()
  i=i+1

4
*
**
***
****

In [15]:
# Solving it through nested "for loop"
N= int(input())
for i in range (N):
  for j in range (i+1):
  # here we have added i+1 we can 1 star for "0" th row, 2 star for "1" st row as shown in below format:
  #  >>>> 0 ----- *
  # >>>>> 1 ------ **
  # >>>>> 2 ------ ***
  # >>>>> 3 ------ ****
    if (j==i):
      print ("*", end ="")
    else:
      print ("*", end ="")
  # Note: if condition we add to remove space from the last digit
  print()

4
*
**
***
****

In [13]:
# we can also solve it without nested loops
N = int(input())
for i in range(N):
  print ((i+1)*"*", end ="")
  print()

4
*
**
***
****

In [ ]:
''' Second Question
Take an integer N as input, print the corresponding stair pattern for N.
For example if N = 4 then stair pattern will be like:
****
***
**
* '''

In [17]:
# Solving it through nested "while loop"
N= int(input())
i=0
while i<N:
  j=0
  while j<N-i:
  # it gives output based on below logic
  #  Row (i) ------  Output (j<N-i)
  #  >>>> 0 ----- **** (0<4-0). So, this inner loop print "*" from (0 till 3)
  # >>>>> 1 ------ *** (1<4-1). So, this inner loop print "*" from (0 till 2)
  # >>>>> 2 ------ **  (2<4-2). So, this inner loop print "*" from (0 till 1)
  # >>>>> 3 ------ *   (3<4-3). So, this inner loop print "*" from (0 till 0)
    print("*", end="")
    j=j+1
  print()
  i=i+1

4
****
***
**
*

In [18]:
# Solving it through nested "for loop"
N = int(input())
for i in range (N):
  for j in range (N-i):
    print("*", end="")
  print()

4
****
***
**
*

In [22]:
# Solving it without nested loops
N = int(input())
for i in range (N,0,-1):
  # this loop works
  # >>>>> 4 ----- 4 * "*" = ****
  # >>>>> 3 ------3 * "*" = *** 
  # >>>>> 2 ------2 * "*" = **
  # >>>>> 1 ------1 * "*" = *
  print(i*"*", end="")
  print()

4
****
***
**
*

In [ ]:
'''
Third Question
Ask the user to enter a number [+ive integer]
and print the foloowing pattern
    *
   **
  ***
 ****
Here the user entered the number of rows they want eg in this case it is 4
'''

In [23]:
N = int(input())
for i in range (N):
  print (" " *(N-(i+1)) + (i+1)*"*", end="")
  # Here in the print statement we have combined two logic
  # firstly we are creating space in the start with code : " " *(N-(i+1)): space * (4-(0+1)) = space *3 = (---) three space and works so on
  # Secondly we are printing star with code: (i+1)*"*" : (0+1)*"*": (1)*"*": 1 
  print()

4
   *
  **
 ***
****

In [ ]:
'''
Third Question
Ask the user to enter a number [+ive integer]
and print the foloowing pattern
 ****
  ***
   **
    *
Here the user entered the number of rows they want eg in this case it is 4
'''

In [6]:
N = int(input())
for i in range(N):
  print(" " * i + "*"*(N-i), end=" ")
  # " " refers to space
  # this loop works
  # >>>>> 0 ----- (space * 0 + "*" *(4-0), end=" ") : (0+4*"*") : ****
  # >>>>> 1 ------(space * 1 + "*" *(4-1), end=" ") : (1+3*"*") :  ***
  # >>>>> 2 ------(space * 2 + "*" *(4-2), end=" ") : (2+2*"*") :   **
  # >>>>> 3 ------(space * 3 + "*" *(4-3), end=" ") : (3+1*"*") :    *
  print()

4
****
 ***
  **
   *

In [ ]:
'''
Fourth Question
Ask the user to enter a number [+ive integer]
and print the foloowing pattern
*        1...row+1
*2       1...2
*2*      1....3
*2*4
*2*4*
*2*4*6
Here the user entered the number of rows they want eg in this case it is 6
For all the odd position, print '*'
for even positions print the number i.e j.

In [7]:
n = int(input())
for rowNum in range(n):
    # print(rowNum)
    for j in range(1,rowNum+2):
        if j%2==0:
            print(j, end="")
        else:
            print('*', end="")
    print()

6
*
*2
*2*
*2*4
*2*4*
*2*4*6

In [ ]:
''' Fifth Question
Problem Description

Take an integer N as input, print the corresponding Half Diamond pattern with 2*N - 1 rows.

For example if N = 5 then pattern will be like:

*
**
***
****
*****
****
***
**
*
NOTE: There should be no spaces after any *. '''

In [14]:
N= int(input())
for i in range (N):
    print("*"*(i+1), end="")
    print()
for j in range (N):
    print("*" * (N-j-1), end="")
    print()

5
*
**
***
****
*****
****
***
**
*

In [12]:
N= int(input())
for i in range (N):
    print("*"*(i+1), end="")
    print()

5
*
**
***
****
*****