<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/Pyramid_Printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' First Question
# Take an integer N as input, print the corresponding stair pattern for N.
# For example if N = 4 then stair pattern will be like:
*
**
***
**** '''

In [ ]:
# Solving it through nested "while loop"
N= int(input())
i=0
while i<N:
  j=0
  while j<=i:
    print("*", end="")
    j=j+1
  print()
  i=i+1

4
*
**
***
****

In [ ]:
# Solving it through nested "for loop"
N= int(input())
for i in range (N):
  for j in range (i+1):
  # here we have added i+1 we can 1 star for "0" th row, 2 star for "1" st row as shown in below format:
  #  >>>> 0 ----- *
  # >>>>> 1 ------ **
  # >>>>> 2 ------ ***
  # >>>>> 3 ------ ****
    if (j==i):
      print ("*", end ="")
    else:
      print ("*", end ="")
  # Note: if condition we add to remove space from the last digit
  print()

4
*
**
***
****

In [ ]:
# we can also solve it without nested loops
N = int(input())
for i in range(N):
  print ((i+1)*"*", end ="")
  print()

4
*
**
***
****

In [ ]:
''' Second Question
Take an integer N as input, print the corresponding stair pattern for N.
For example if N = 4 then stair pattern will be like:
****
***
**
* '''

In [ ]:
# Solving it through nested "while loop"
N= int(input())
i=0
while i<N:
  j=0
  while j<N-i:
  # it gives output based on below logic
  #  Row (i) ------  Output (j<N-i)
  #  >>>> 0 ----- **** (0<4-0). So, this inner loop print "*" from (0 till 3)
  # >>>>> 1 ------ *** (1<4-1). So, this inner loop print "*" from (0 till 2)
  # >>>>> 2 ------ **  (2<4-2). So, this inner loop print "*" from (0 till 1)
  # >>>>> 3 ------ *   (3<4-3). So, this inner loop print "*" from (0 till 0)
    print("*", end="")
    j=j+1
  print()
  i=i+1

4
****
***
**
*

In [ ]:
# Solving it through nested "for loop"
N = int(input())
for i in range (N):
  for j in range (N-i):
    print("*", end="")
  print()

4
****
***
**
*

In [ ]:
# Solving it without nested loops
N = int(input())
for i in range (N,0,-1):
  # this loop works
  # >>>>> 4 ----- 4 * "*" = ****
  # >>>>> 3 ------3 * "*" = *** 
  # >>>>> 2 ------2 * "*" = **
  # >>>>> 1 ------1 * "*" = *
  print(i*"*", end="")
  print()

4
****
***
**
*

In [ ]:
'''
Third Question
Ask the user to enter a number [+ive integer]
and print the foloowing pattern
    *
   **
  ***
 ****
Here the user entered the number of rows they want eg in this case it is 4
'''

In [ ]:
N = int(input())
for i in range (N):
  print (" " *(N-(i+1)) + (i+1)*"*", end="")
  # Here in the print statement we have combined two logic
  # firstly we are creating space in the start with code : " " *(N-(i+1)): space * (4-(0+1)) = space *3 = (---) three space and works so on
  # Secondly we are printing star with code: (i+1)*"*" : (0+1)*"*": (1)*"*": 1 
  print()

4
   *
  **
 ***
****

In [ ]:
'''
Third Question
Ask the user to enter a number [+ive integer]
and print the foloowing pattern
 ****
  ***
   **
    *
Here the user entered the number of rows they want eg in this case it is 4
'''

In [ ]:
N = int(input())
for i in range(N):
  print(" " * i + "*"*(N-i), end=" ")
  # " " refers to space
  # this loop works
  # >>>>> 0 ----- (space * 0 + "*" *(4-0), end=" ") : (0+4*"*") : ****
  # >>>>> 1 ------(space * 1 + "*" *(4-1), end=" ") : (1+3*"*") :  ***
  # >>>>> 2 ------(space * 2 + "*" *(4-2), end=" ") : (2+2*"*") :   **
  # >>>>> 3 ------(space * 3 + "*" *(4-3), end=" ") : (3+1*"*") :    *
  print()

4
****
 ***
  **
   *

In [ ]:
'''
Fourth Question
Ask the user to enter a number [+ive integer]
and print the foloowing pattern
*        1...row+1
*2       1...2
*2*      1....3
*2*4
*2*4*
*2*4*6
Here the user entered the number of rows they want eg in this case it is 6
For all the odd position, print '*'
for even positions print the number i.e j.

In [ ]:
n = int(input())
for rowNum in range(n):
    # print(rowNum)
    for j in range(1,rowNum+2):
        if j%2==0:
            print(j, end="")
        else:
            print('*', end="")
    print()

6
*
*2
*2*
*2*4
*2*4*
*2*4*6

In [ ]:
''' Fifth Question
Problem Description

Take an integer N as input, print the corresponding Half Diamond pattern with 2*N - 1 rows.

For example if N = 5 then pattern will be like:

*
**
***
****
*****
****
***
**
*
NOTE: There should be no spaces after any *. '''

In [ ]:
N= int(input())
for i in range (N):
    print("*"*(i+1), end="")
    print()
for j in range (N):
    print("*" * (N-j-1), end="")
    print()

5
*
**
***
****
*****
****
***
**
*

In [ ]:
N= int(input())
for i in range (N):
    print("*"*(i+1), end="")
    print()

5
*
**
***
****
*****

In [ ]:
# Scaler Assignment questions related to pyramid priniting
'''
Take an integer N as input. Print the following pattern of N lines. For N = 5 The following pattern is printed.
*     *
*    *
*   *
*  *
* *
#  '''
# Code
n=int(input())
for i in range(n):
 print("*"+(n-i)*" "+"*")

5
*     *
*    *
*   *
*  *
* *

In [ ]:
# Scaler Assignment questions related to pyramid priniting
''' Take an integer N as input, print the corresponding pattern for N.
*****
*   *
*   *
*   *
***** '''
# code
n=int(input())
for i in range(n):
  if i==0: 
   print ((n-i)* "*")
  elif i==n-1:
   print ((n)* "*")
  else:
   print("*"+(n-2)*" "+"*")

5
*****
*   *
*   *
*   *
*****

In [ ]:
# Scaler Assignment questions related to pyramid priniting
''' 
Given two integers N and M as inputs, print a rectangle of N * M stars.
For example if N = 3, M = 4 then pattern will be like: 
****
****
****
'''
# Code:
n=int(input())
m=int(input())
for i in range(n):
    for r in range(m):
        print("*",end='')
    print()

3
4
****
****
****

In [ ]:
# Hollow Inverted Half Pyramid
n=int(input())
for i in range(n):
  if i==0: 
   print (n* "*")
  if i>=1:
    print("*"+(n-i)*" "+"*")

6
******
*     *
*    *
*   *
*  *
* *

In [ ]:
# Hollow inverted pyramid pattern
n=int(input())
for i in range(n):
 print("*"+(n-i)*2*"_"+"*")

5
*__________*
*________*
*______*
*____*
*__*
**

In [ ]:
n=int(input())
for i in range(n):
    print(" "*(n-i) + "*"*(i+1), end=" ")
    print()

5
     *
    **
   ***
  ****
 *****

In [ ]:
n=int(input())
for i in range(n):
    print((n-i)*"*",end="")
    print()

5
*****
****
***
**
*

In [ ]:
n=int(input())
for i in range(n):
  if i==0:
    print(n*"*"*2)
  elif i>=1:
        print("*"*(n-i)+ " "*(i)*2 + "*"*(n-i))

5
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n=int(input())
for i in range(n):
  print("*"*(i+1)*2+ " "*(n-i-1) + "*"*(i+1)*2)

5
**    **
****   ****
******  ******
******** ********
********************

In [ ]:
n=int(input())
for i in range(n):
    print(" "*(i), end="")
    for j in range(n-i):
       print("*", end=" ")
    print()

5
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
n=int(input())
for i in range(n):
    print(" "*(n-i-1), end="")
    for j in range(i+1):    
        print("*", end=" ")
    print()

5
    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
n=int(input())
for i in range(n):
    print((n-i-1)*" " + (i+1)*"*",end="")
    print()

5
    *
   **
  ***
 ****
*****

In [10]:
N=int(input())
for i in range(N):
    # to print left "0s"
    for j in range(0,N-1-i):
        print(0, end=" ")
    # to print     
    for j in range(i+1,2*i+1):
        print(j, end=" ")
    print(2*i+1, end=" ")
    for j in range(2*i,i,-1):
        print(j, end=" ")
    for j in range(0,N-1-i):
        print(0, end=" ")
    print()

5
0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

In [13]:
n=int(input())
for i in range(n):
    for j in range(0,n-i-1):
        print(0, end=" ")
    table_of = n-i
    table_till = 2*i+1
    for j in range(1,table_till+1):
        print(table_of*j, end=" ")
    for j in range(0,n-i-1):
        print(0, end=" ")
    print()

5
0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

In [20]:
A = int(input())
old_num=A
new_num=0
while A!=0:
    last_digit = A%10
    new_num = new_num*10 + last_digit
    print(last_digit, new_num)
    A=A//10
if new_num == old_num:
  print("Yes")
else:
  print("No")

121
1 1
2 12
1 121
Yes

In [3]:
A = int(input())
B = int(input())
count=0
for i in range(A):
    if A%10:
      count=count+1
      A=A//10
print(count)

1213
1
4