<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Types
String
Integer
Float
Boolean
None

In [3]:
# String
x = 'a'+ 'b'
print (x, type(x))

ab <class 'str'>

In [4]:
# Integer
x = 5 + 7
print (x, type(x))

12 <class 'int'>

In [7]:
# Float
x = 5.2 + 10.2
print (round(x,1), type(x))

15.4 <class 'float'>

In [11]:
# Boolean
x = True
# Note: python identifies true as "True" not "true"
print (x,type(x))

True <class 'bool'>

In [12]:
# None
x = None
print (x,type(x))

None <class 'NoneType'>

In [17]:
# Seperators
Seperator = ","
print(38, "Cristiano Ronaldo", 1.89, True)

Seperator = "_"
print(38, "Cristiano Ronaldo", 1.89, True, sep = "_")

Seperator = ""
print(38, "Cristiano Ronaldo", 1.89, True, sep = "")

Seperator = "\n" # seperate the content into new line
print(38, "Cristiano Ronaldo", 1.89, True, sep = "\n")

38 Cristiano Ronaldo 1.89 True
38_Cristiano Ronaldo_1.89_True
38Cristiano Ronaldo1.89True
38
Cristiano Ronaldo
1.89
True

In [24]:
# input function stores everything as a string - input()
a = input("What's your name: ")
print (a)

What's your name: Abhinav
Abhinav

In [26]:
# Converting input function into int
a = int(input("Tell me your age: "))
print (a)

What's your name: 32
32

In [ ]:
# Operators
# Arithmetic operators >> (+  -  /  *)
# Comparison operators >> ('>' - greater, '<' - lesser)

In [28]:
# division in python always gives float
print (5/2)
print (5/2, type(5/2))

2.5
2.5 <class 'float'>

In [30]:
print (1+1, 2-2, 4*4)  # In scenario of addition, subtraction, multiplication of int values output will be int values
print (2*1.2, 5-2.0, 9-5.0)  # int & float >>>> float

2 0 16
2.4 3.0 4.0

In [33]:
# x**y==x^y (x with power y)
print(5**3)
x = 2
y = 3
print (x**y)

125
8

In [35]:
# Square root
print (25**(1/2))

5.0

In [36]:
print(3.5**3, 3.5*3.5*3.5) #>>> float * int = float

42.875 42.875

In [37]:
# Floored Division - removes the decimal and gives integer value
# it will give the largest integer equal or smaller than the value
print (5/2, 5//2)
# '2' in output signifies quotient

2.5 2

In [9]:
# Modulus - Gives the remainder
print (5%2)
print (75%4)
# Use case : Given a positive integer number, find the digit at the unit place
num = int(input())
print(num%10)

1
3
123456
6

In [10]:
# Use case of mod & florred division
# Question: Given a positive integer number, find the digit at the 100th place
num = 1234567
num = num%100
print(num)
num = num//10
print(num)

67
6

In [51]:
# Typecasting - changing datatype
print (int(10.0))
print (float(10))
print (str(10))
print (int('10'))
print (bool(1))
print (bool(0)) # Bool of "0" is always false
print (bool("Abhinav"))
print (bool("")) # Bool of empty string is always false
print (bool(None)) # None is no value - So, bool of None is false

10
10.0
10
10
True
False
True
False
False

In [67]:
# Comparison of integers
print (5>2)
print (2>5)
print (5==5)
print (6>=5)  # x is greater than or equal to y - So, greater than condition met. Hence, result 'True'

True
False
True
True

In [66]:
# Comparison of strings
print("Geek" < "geek")
print (ord('G'))
print (ord('g'))
# Follows this ordinal concept and throws result
print("Geek" != "Geek")

True
71
103
False

In [68]:
marks = 50
print(marks)
marks += 5   # marks = marks +5
print(marks) # 55
marks *= 2 # marks = marks *2
print(marks) # 55*2=110

50
55
110

In [69]:
# x OR y
# T OR F = T
# T OR T = T
# F OR T = T
# F OR F = F

# x and y
# T and F = F
# F and F = F
# F and T = F
# T and T = T

In [70]:
# not
# not True = False
# not False = True
print(not True)
print(not False)

False
True

In [72]:
# If else statements
if 50>20:
  print ('This is the right calculation')
else:
  print ('Calculation is wrong')

This is the right calculation

In [ ]:
print("""
Question 1:
1. ask the user to give some integer input
2. calculate cube of the input integer
3. if cube >50:
    if yes: say "that is huge"
    if no: say "that is tiny"
4. say "execution COMPLETE"
""")

In [74]:
n = int(input())
cube = n**3
if cube >50:
    print ("that is huge")
else:
    print ('that is tiny')
print ("execution COMPLETE")

5
that is huge
execution COMPLETE

In [ ]:
print("""
Question 2:
1: ask the user for a password
2: ask the user to re-enter the password
3: check if the 2 passwords are same:
    yes: say "passwords are good"
    no: say "issues with password"
""")

In [76]:
password = int(input("Enter the password: "))
re_password = int(input("Re-enter the password: "))
if password == re_password:
  print ("passwords are good")
else:
  print ("issues with password")

Enter the password: 11111990
Re-enter the password: 11111990
passwords are good

In [77]:
password = (input("Enter the password: "))
re_password = (input("Re-enter the password: "))
if password == re_password:
  print ("passwords are good")
else:
  print ("issues with password")

Enter the password: Abhinav
Re-enter the password: Abhinav
passwords are good

In [78]:
time = 22
if time>=9 and time<12:
    print("Good morning 🛏")
elif time>=12 and time<17:
    print("Good afternoon 🌞")
elif time>=17 and time<20:
    print("Good evening ⛅")
else:
    print("Good night 🌚")

Good night 🌚

In [79]:
# lower function
"this IS my StR".lower()

'this is my str'

In [ ]:
Question 6:
FIZZBUZZ
1. ask the user for an integer
2. if it is divisible by 3--> say FIZZ
3. if it is divisible by 5--> say BUZZ
3. if it is divisible by 3 as well as 5--> say FIZZBUZZ
If not divisible by any of the above, do nothing

In [81]:
n = int(input())
if n%3 == 0:
  print ("FIZZ")
elif n%5 == 0:
  print ("BUZZ")
elif n%3 == 0 and n%5 == 0:
  print ("FIZZBUZZ")
else:
  print ("nothing")

20
BUZZ

In [82]:
a = 50
if a > 40:
    print("A")
if a > 30:
    print("B")
if a > 20:
    print("C")

A
B
C

In [ ]:
1. Build a meter system for an auto. Take into two inputs.
Kilometers Travelled and Stall Time (in minutes). Rate List -
- First 10 kms - Rs 10 per Km
- Next 40 kms - Rs 9 per Km
- Next 100 kms - Rs 8 per Km
- Any leftover km count - Rs. 6 per Km

- Rs 5 extra for every minute of Stall Time.

In [89]:
km = int(input())
if km == 10:
  km_travelled = km*10
elif km <= 50:
  km_travelled = 10*10 + (km-10)*9
elif km <= 150:
  km_travelled = 10*10 + (40)*9 + (km-50)*8
else:
  km_travelled = 10*10 + (40)*9 + (100)*8 + (Km-150)*6
print (km_travelled)

150
1260

In [1]:
# Number System
# Decimal - Has base 10
# Binary - Has base 2
# For instance if we want to convert decimal into binary then divide the number by 2
# convert the 50 into binary ---- So, divide the number by 2 --- calculate remainder - (110010)
# convert the binary into decimal ----- multiply with the power of 2 and add

In [8]:
# Range
# Brackets: () - not include last digit
for i in range (1,9):
  print (i, end = " ")
# Brackets: [1,9] - includes all digit starting from 1 till 9
# Brackets: [1,9) - includes all digit starting from 1 and excluding 9

1 2 3 4 5 6 7 8

In [18]:
# While Loop
# print the numbers from 1 till 5
num =1  # initiate value
while num<=100: # condition
  print (num, end =" ")
  num = num +5  # incrementing number

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

In [ ]:
'''
Question 1 -
Take an integer input from the user and print alternate numbers from from 1 to input.
Input will be a positive number > 1.

INPUT - 7
OUTPUT - 1 3 5 7