<a href="https://colab.research.google.com/github/A11rastogi/Python-Programming/blob/main/String1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Ordinal function provides code for the character
# here ordinal of "a" is greater than ordinal of "A"
print (ord("A"))
print (ord("a"))
# with the help of chr function we can cross check alphabets against digit
print (chr(65))
print (chr(97))

65
97
A
a

In [7]:
'a'>'A'
# small "a" is greater than "A" because ordinal of "a" = 97 and "A" = 65

True

In [9]:
"abc" > "abd"
# here comparison occurs firstly with "a" and "a", then with "b" and "b" and lastly with "c" and "d"
# So, ordinal of "c" is less as compare to "d". Thus, result is false.
print (ord("c"))
print (ord("d"))

99
100

In [11]:
print (5*' Abhinav')

 Abhinav Abhinav Abhinav Abhinav Abhinav

In [ ]:
# f-string
#1 write the str that you want
#2 replace the value with the variable name
#3 put the varaiable name in {}
#4 add f in front of your quotes

In [13]:
age = 38
height = 189
worldCups = 0
output  = f"age of Ronaldo today is {age} years, he has won {worldCups} world cups and has a height of {height}cm"
print(output)

age of Ronaldo today is 38 years, he has won 0 world cups and has a height of 189cm

In [16]:
# f string initally stores all value which is mentioned in the variables and populate it in the output, 
# but if we are changing any value in the variables then it will not accept it
age = 38
height = 189
worldCups = 1
output  = f"age of Ronaldo today is {age} years, he has won {worldCups} world cups and has a height of {height}cm"
print(output)
worldCups = 5 
print(output)

age of Ronaldo today is 38 years, he has won 1 world cups and has a height of 189cm
age of Ronaldo today is 38 years, he has won 1 world cups and has a height of 189cm

In [20]:
# upper, lower, capitalize
s = "Abhinav"
print (s.upper())
print (s.lower())
r = "abhinav rastogi"
print (r.capitalize()) # it will capitalize first letter of the string

ABHINAV
abhinav
Abhinav rastogi

In [23]:
# split function
s = "I  belong  from Ambala Cantt"
print (s.split()) # segregating string based on whitespace
print (s.split(' ')) # segregating string based on singlespace

['I', 'belong', 'from', 'Ambala', 'Cantt']
['I', '', 'belong', '', 'from', 'Ambala', 'Cantt']

In [25]:
# Join function
s ='Abhinav Rastogi'
s_broken = s.split('v')
print (s_broken)
'v'.join(s_broken)

['Abhina', ' Rastogi']

'Abhinav Rastogi'

In [26]:
# Practice Questions
a = input()
for i in a:
  print (i)

India
I
n
d
i
a

In [30]:
# Counting capital letter in the string
a = input()
count = 0
for i in a:
  if ord(i)>=ord('A') and ord(i)<=ord('Z'):
    count+= 1
print (count)

This is My House
3

In [32]:
# Reversing the string
a = input()
print (a[::-1])

Abhinav Rastogi
igotsaR vanihbA

In [34]:
# palindrome
a = input().lower()
if a==a[::-1]:
  print ('palindrome')
else:
  print ('Not a palindrome')

Naman
palindrome

In [36]:
# space seperated integers - using split and join function
# Input = 1 2 3 4 5
# Output = 1,2,3,4,5
a = input()
a = a.split()
output = ",".join(a)
print (output)

1 2 3 4 5
1,2,3,4,5

In [37]:
 if s = "hello"

SyntaxError: ignored